.grid-container {
    display: grid;
    grid-template-columns: 100px 5fr;
    grid-template-rows: 50px 100px 1fr;
    height: 100vh;
    gap: 10px;
}
.grid-head {
    grid-column: 1 / 3;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.grid-sidebar {
    background-color: lightgray;

}
.grid-content {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: lightyellow;
}